# ==========================
# Scala / sbt
# ==========================
**/target/
**/project/project/
**/project/target/
.bsp/
.metals/
.ammonite/
.scala-build/
*.class
*.cache
/target/scala-*/lambda-project-fat.jar

# ==========================
# Node / TypeScript
# ==========================
node_modules/
dist/
lib/*.js
lib/*.d.ts
bin/*.js
bin/*.d.ts
test/*.js
test/*.d.ts
*.tsbuildinfo
coverage/
.npm
.eslintcache

# Ensure config files are NOT ignored
!jest.config.js
!cdk.json
!tsconfig.json

# ==========================
# CDK / AWS
# ==========================
.cdk.staging/
cdk.out/
cdk.context.json

# ==========================
# IDE / OS / Env
# ==========================
.idea/
*.iml
.vscode/
.history/
.env
.env.*
.DS_Store
Thumbs.db
*.log
